img {

    height: 300px;
    width: 200px;
   
}

body {
    background-color: white;
    font-family: 'Roboto Mono', monospace;
   
    
    
	
}

div {
     height: 400px ; 
     width: 400px;
    border-radius: 10px;
    background-color: rgb(245, 207, 220);
    float: left;
    margin: 10px;
    
    
    
   
    
    
  
}